.header-class {
    background: skyblue;
    flex-direction: row;
    align-items: stretch;
    flex: 1;
    margin-top: 5px;
    padding: 5px;
  }

  .information-class {
    background: white;
    flex-direction: row;
    align-items: stretch;
    flex: 1;
    margin-top: 5px;
    padding: 5px;
  }

  .total-class {
    background: #f3f2f2;
    flex-direction: row;
    align-items: stretch;
    flex: 1;
    margin-top: 5px;
    padding: 5px;
  }

  .button-class {
    float: right;
    border-color: #6456d6;
    color: 6456d6;
  }

  @font-face {
    font-family: Lato;
    src: url(https://fonts.google.com/specimen/Lato);
  }

  * {
    font-family: Lato;
  }